.header{
  gap: 48px;
  padding: 20px 40px;
}

.header-icon{
  font-size: 35px;
}

.icon-wrapper{
  gap: 12px;
  border-radius: 5px;
  border: none;
  padding: 7px;
  min-width: 93px;
  cursor: pointer;
}

.clicked{
  background-color: #008cff;

}